<footer class="e-footer">
  <div class="e-center">
    <div class="e-col n1">
      <ul>
        <li class="e-title">
          <h3>REI DOS QUADROS</h3>
        </li>                
        <li><a href="/institucional/contato">Contato</a></li>                
        <li><a href="/institucional/quem-somos">Quem Somos</a></li>                
        <li><a href="/institucional/corporativo">Corporativo</a></li>                
        <li><a href="/institucional/nossas-lojas">Nossas Franquias</a></li>
      </ul>
    </div>        
    <div class="e-col n2">
      <ul>
        <li class="e-title">
          <h3>AJUDA</h3>
        </li>                
        <li><a href="/institucional/politicas">Políticas de Privacidade</a></li>                
        <li><a href="/institucional/perguntas-frequentes">Perguntas Frequentes</a></li>                
        <li><a href="http://www.procon.rj.gov.br/index.php/publicacao/listar/5/1">Código de Defesa do Consumidor</a></li>                
        <li><a href="http://www.procon.rj.gov.br/">Procon-RJ</a></li>
      </ul>
    </div>        
    <div class="e-col n3">
      <ul>
        <li>
          <h3>COMPRA SEGURA</h3>
        </li>                
        <li><img src="http://reidosquadros.vteximg.com.br/arquivos/elets.png" /></li>                
        <li><img src="http://reidosquadros.vteximg.com.br/arquivos/evtexcert.png" /></li>                
        <li><img src="http://reidosquadros.vteximg.com.br/arquivos/elojasegura.png" /></li>
      </ul>
    </div>        
    <div class="e-col n4">
      <ul>
        <li>
          <h3>ACESSE NOSSAS MÍDIAS SOCIAIS!</h3>
        </li>                
        <li><a class="footer-social__anchor" href="https://www.instagram.com/lojareidosquadros/"><img src="http://reidosquadros.vteximg.com.br/arquivos/einsta.png" /></a></li>                
        <li><a class="footer-social__anchor" href="http://fb.com/reidosquadros"><img src="http://reidosquadros.vteximg.com.br/arquivos/efb.png" /></a></li>
      </ul>
    </div>        
    <div class="e-col n5">
      <div class="e-list-top">
        <ul>
          <li>
            <h3>MEIOS DE PAGAMENTO</h3>
          </li>                    
          <li><img src="http://reidosquadros.vteximg.com.br/arquivos/evisa.png" /></li>                    
          <li><img src="http://reidosquadros.vteximg.com.br/arquivos/emaster.png" /></li>                    
          <li><img src="http://reidosquadros.vteximg.com.br/arquivos/edinners.png" /></li>                    
          <li><img src="http://reidosquadros.vteximg.com.br/arquivos/eamex.png" /></li>                    
          <li><img src="http://reidosquadros.vteximg.com.br/arquivos/eelo.png" /></li>                    
          <li><img src="http://reidosquadros.vteximg.com.br/arquivos/ehiperc.png" /></li>                    
          <li><img src="http://reidosquadros.vteximg.com.br/arquivos/eboleto.png" /></li>
        </ul>
      </div>            
      <div class="e-list-bottom">
        <ul class="e-selo">
          <li><a href="https://pt.vtex.com/"><img src="http://reidosquadros.vteximg.com.br/arquivos/epvtex.png" /></a></li>                    
          <li><a href="http://www.gtx.ag"><img src="http://reidosquadros.vteximg.com.br/arquivos/edgtx.png" /></a></li>                    
          <li><a href="http://www.profite.com.br"><img src="http://reidosquadros.vteximg.com.br/arquivos/evprofite.png" /></a></li>
        </ul>
      </div>
    </div>
  </div>    
  <div class="e-bottom"><span class="e-text">Brasileira Indústria e Comércio de Quadros Eirelli - EPP. Rua Moreira n407 - Abolição, CEP: 20.751-190. Rio de Janeiro - RJ. CNPJ : 19.131.567/0003-97</span></div>
  <div class="box-wpp" style="display:none;">
    <a href="https://wa.me/5521971686756?text=Ol%C3%A1%2C%20tenho%20uma%20d%C3%BAvida." title="Iniciar conversa"></a>
  </div>
</footer>