<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
  <title>Rei dos Quadros | Account</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <link href="https://fonts.googleapis.com/css?family=Questrial|Teko" rel="stylesheet" type="text/css" />
  <link href="/arquivos/rei-dos-quadros-account2019.css" rel="stylesheet" type="text/css" />
  <vtex:template id="REI-DOS-QUADROS-Favicons" />
  <vtex:metaTags />
  <vtex:template id="REI-DOS-QUADROS-Head-Scripts" />
</head>

<body class="is-logged-out">
  <vtex:template id="REI-DOS-QUADROS-Header" />
  <vtex:template id="REI-DOS-QUADROS-Menu-Mobile-v2" />
  <vtex:template id="REI-DOS-QUADROS-Menu-v2" />
  <div class="searchform-component visible-xs"></div>
   <main class="pageMain">
    <div class="content"><vtex.cmc:accountUserProfile /></div>
   </main>
  <vtex:template id="REI-DOS-QUADROS-Newsletter-v2" />
  <vtex:template id="REI-DOS-QUADROS-Footer" />
  <vtex:template id="REI-DOS-QUADROS-Bottom-Scripts" />
</body>

</html>