body {
  .box-wpp {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 10;

    a {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background: #1dd741
        url(//reidosquadros.vteximg.com.br/arquivos/whatsappIcon.png) no-repeat;
      background-position: center;
      background-size: 86%;
    }
  }
}
